.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.center {
  display: flex;
  justify-content: space-around;
  margin-top: 150px;
}

.box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn {
  padding: 6px 14px;
  background-color: green;
  color: black;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.msg {
  font-size: 18px;
  color: black;
  font-weight: 500;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
